#para{
    color: chocolate;
    font-size: 20px;
    background-image: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg');
    
    background-size: cover;
}

.para1{
    color: rgb(77, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    border: 5px solid blueviolet;
    border-radius: 10%;
    
}